<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-button">
          <%= link_to "Twitterではじめる", user_twitter_omniauth_authorize_path, class: "btn btn-xl"  %>
      </div>
      <div class="intro-heading">
        <h3>使い方はとても簡単！</3>
          <h4>1.募集を作成</h4>
      <img src="/sample.png"></div>
      <div class="intro-heading"><h4>2.応募者と連絡</h4>
      <img src="/friend.png">
      <p>* 管理画面イメージです</p></div>
      <div class="intro-button">
          <%= link_to "Twitterではじめる", user_twitter_omniauth_authorize_path, class: "btn btn-xl"  %>
      </div>

    </div>
  </div>
</header>
<footer class="footer bg-2">
  <div class="container text-center">
    <span class="text-muted">© Fortnite Match</span>
</footer>
